<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  	<meta charset="UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>{{ title }}</title>
  	<base href="{{ base }}"/>
  	{% if description %}
    	<meta name="description" content="{{ description }}"/>
  	{% endif %}
  	{% if keywords %}
    	<meta name="keywords" content="{{ keywords }}"/>
  	{% endif %}
  	<script src="catalog/view/javascript/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
  	<link href="catalog/view/theme/{{ theme_default_directory }}/stylesheet/bootstrap.css" rel="stylesheet" media="screen"/>
  	<script src="catalog/view/javascript/bootstrap/js/popper.min.js" type="text/javascript"></script>
 	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  	<link href="catalog/view/javascript/font-awesome/css/all.min.css" rel="stylesheet" type="text/css"/>
  	
  	{% for style in styles %}
    	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  	{% endfor %}
  	{% for script in scripts %}
    	<script src="{{ script }}" type="text/javascript"></script>
  	{% endfor %}
  	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  	{% for link in links %}
    	<link href="{{ link.href }}" rel="{{ link.rel }}"/>
  	{% endfor %}

  	<script src="catalog/view/javascript/jquery/swiper/js/swiper.min.js" type="text/javascript"></script>
  	<link href="catalog/view/javascript/jquery/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
  	<link href="catalog/view/javascript/jquery/swiper/css/mycncart.css" rel="stylesheet" type="text/css"/>


  	<link href="catalog/view/theme/{{ theme_default_directory }}/stylesheet/stylesheet.css" rel="stylesheet">

  	{% for analytic in analytics %}
    	{{ analytic }}
  	{% endfor %}
</head>
<body style="background-color:#f0f0f0;">
	{% if cookie %}
	  {{ cookie }}
	{% endif %}

  	<div class="container-fluid" id="top-banner">
  		<!----top baner start----->
		<div class="row">
			<a href="#" target="_blank" class="top_banner"><img class="opacity1" src="//haitao.nos.netease.com/online2019051339d2e.jpg" /></a>
			
		</div>
		<!----top baner end----->
  	</div>

  	<div id="top">
  		<div class="container">
  			<div class="navBox ">
  				
  				<div class="float-left">
  					<nav class="navbar navbar-expand-lg">
					  <div class="collapse navbar-collapse">
					  	<span class="navbar-text">
					      专为面向中国大陆市场打造的 MyCnCart 商城！
					    </span>
					    <ul class="navbar-nav mr-auto">
					      <li class="nav-item">
					        <a class="nav-link" href="#">登录</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="#">免费注册</a>
					      </li>
					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          微信小程序
					          
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <p class="top-xiaochengxu">
					          	<img src="https://haitao.nos.netease.com/9c6b0d6c-4a71-4018-8fb6-46496f51caff.png">
					          </p>
					        </div>
					      </li>

					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          <img src="catalog/language/zh-cn/zh-cn.png" alt="简体中文" title="简体中文">    
							  <span class="d-none d-md-inline">简体中文</span>
							  
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <a href="#" class="dropdown-item">英语</a>
							  <a href="#" class="dropdown-item">法语</a>
							  <a href="#" class="dropdown-item">繁体中文</a>
					        </div>
					      </li>

					      <li class="nav-item dropdown">
					      	
						        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          <strong>$</strong>
								  <span class="d-none d-md-inline">美元</span>
								  
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						          <a href="#" class="dropdown-item">USD$ 美元</a>
								  <a href="#" class="dropdown-item">USD$ 美元</a>
								  <a href="#" class="dropdown-item">USD$ 美元</a>
						        </div>
						        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
					        		<input type="hidden" name="code" value=""/> <input type="hidden" name="redirect" value="{{ redirect }}"/>
					        	</form>
					      </li>
					      
					    </ul>
					    
					  </div>
					</nav>


  					
  				</div>
  				<div class="float-right">
  					<nav class="navbar navbar-expand-lg">
					  <div class="collapse navbar-collapse">
					    <ul class="navbar-nav mr-auto">
					      <li class="nav-item">
					        <a class="nav-link" href="#">我的订单</a>
					      </li>
					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					          个人中心
					         
					        </a>
					        <div class="dropdown-menu dropdown-menu-right">
					          <a class="dropdown-item" href="#">我的优惠券</a>
					          <a class="dropdown-item" href="#">我的红包</a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#">帐号管理</a>
					          <a class="dropdown-item" href="#">我的发票抬头</a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#">我收藏的商品</a>
					          <a class="dropdown-item" href="#">我关注的品牌</a>
					        </div>
					      </li>

					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					          微信公众号
					          
					        </a>

					        <div class="dropdown-menu dropdown-menu-right" >
					          <p class="top-xiaochengxu">
					          	<img src="https://haitao.nos.netease.com/9c6b0d6c-4a71-4018-8fb6-46496f51caff.png">
					          </p>
					        </div>
					      </li>
					      
					    </ul>
					    
					  </div>
					</nav>
					
  				</div>
  			</div>
  		</div>
  	</div>

  	<header class="top-middle">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-3 col-lg-3">
			        <div id="logo" class="mt-3">
			          {% if logo %}
			            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid" /></a>
			          {% else %}
			            <h1><a href="{{ home }}">{{ name }}</a></h1>
			          {% endif %}
			        </div>
			    </div>
			    <div class="col-md-5 col-lg-7">
			    	{{ search }}
			    </div>
			    <div class="col-md-4 col-lg-2">
			    	<div id="top-cart" class="mt-3">
				    	<a href="#">
							<i class="fas fa-shopping-cart"></i>
							<span class="wrap">购物车<b class="num">1000</b></span>
						</a>
					</div>
			    </div>
  			</div>

  		</div>
  	</header>

  	<div id="top-menu">
  		<div class="container">
  			<div class="row">
  				<div class="container-inner">
  					<div class="col-ver">
  						<div id="pt-menu-mcc" class="pt-menu vertical-menu">
  							<div class="pt-menu-bar">
  								<i class="fas fa-bars lineicon"></i>
  								<span>所有分类</span>
  							</div>
  							<ul class="ul-top-items" style="display: none;">
                                <li class="li-top-item left  ">
                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/home-electronics">    
                                    	<span>Home electronics</span>
                                    	<i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                    </a>
                                    <!-- Mega Menu -->
                                    <div class="mega-menu-container sub-menu-container " style="width: 90rem; display: none;">
                                    	<div class="row">
                                    		<div class="col-md-3 sub-item2-content" data-cols="3" style="clear: left;">
                                    			<h4><a class="a-mega-second-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46">Laptops</a></h4>
                                    			<div class="sub_item3-content">
                                    				<h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_95">Apple laptops</a></h5>
                                    				<h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_205">Backlit</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_65">Chromebooks</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_207">Eluktronics</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_206">EXcaliberPC</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_66">Gaming Laptops</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_64">MacBooks</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_67">Microsoft Surface</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=46_68">PC Laptops</a></h5>
                                                                                                                                                                    </div>
                                                                                                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                                                                                                                                                                                                                                <div class="col-md-3 sub-item2-content" data-cols="3">
                                                                                                                                                        <h4><a class="a-mega-second-link" href="http://pataku.demo.towerthemes.com/tools-hardware">Tools &amp; hardware</a></h4>
                                                                                                                                                            <div class="sub_item3-content">
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/tools-hardware/dual-core">Dual Core</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_62">Gaming Monitors</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_96">GPS Monitors</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_61">IPS Monitors</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/tools-hardware/quad-core">Quad Core</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/tools-hardware/single-core">Single Core</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_63">Top Picks for Monitors</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_26">LED Monitors</a></h5>
                                                                                                                                                                            <h5><a class="a-mega-third-link" href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=20_27">LCD Monitors</a></h5>
                                                                                                                                                                    </div>
                                                                                                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                                                                                                                                                        
                                                                    
                                                                                                                                            <div class="col-md-6 sub-item2-content" data-cols="6">
                                                                                                                                                        <div class="pt-block static-ver-menu">
  <div class="inner">
    <div class="col">
      <div class="image">
        <a href="#"><img src="image/catalog/ptblock/img-ver-menu.jpg" alt="img-ver-menu"></a>
      </div>
    </div>
    <div class="col">
      <div class="text">
        <h3 class="text1">Mid season sale up to 25% off*</h3>
        <p>pick up a steal in the mid season with up to 25% off right now!</p>
        <a href="#">shop the sale</a>
      </div>
    </div>
  </div>
</div>
                                                                        </div>
                                                                    
                                                                                                                                                                                                                                                                                                            													</div>
                                                </div>
                                                                                                                        
                                    <!-- Flyout Menu -->
                                                                                                </li>
                                                                                                                            <li class="li-top-item left  ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/leisure-safety">
                                                                                                                            <span>Leisure &amp; Safety</span>
                                                                                                                            <i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                                                            </a>
                                                                                                    <!-- Mega Menu -->
                                    
                                    <!-- Flyout Menu -->
                                                                            
                                                                                                                                    <div class="flyout-menu-container sub-menu-container left" style="display: none;">
                                                    <ul class="ul-second-items">
                                                                                                                                                                                                                                                                                                                                <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_59" class="a-second-link a-item">
                                                                                <span class="a-second-title">Mobiles</span>
                                                                                                                                                                    <i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                                                                                                                                            </a>
                                                                                                                                                            <div class="flyout-third-items left" style="display: none;">
                                                                                    <ul class="ul-third-items">
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_59_78" class="a-third-link"><span class="a-third-title">Adapters, Cables &amp; Chargers</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_59_75" class="a-third-link"><span class="a-third-title">Cell Phones</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_59_76" class="a-third-link"><span class="a-third-title">iPhone</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_59_77" class="a-third-link"><span class="a-third-title">Prepaid Phones</span></a>
                                                                                            </li>
                                                                                                                                                                            </ul>
                                                                                </div>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_57" class="a-second-link a-item">
                                                                                <span class="a-second-title">Tablets</span>
                                                                                                                                                                    <i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                                                                                                                                            </a>
                                                                                                                                                            <div class="flyout-third-items left" style="display: none;">
                                                                                    <ul class="ul-third-items">
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_57_74" class="a-third-link"><span class="a-third-title">E-Readers</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_57_73" class="a-third-link"><span class="a-third-title">iPad</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_57_72" class="a-third-link"><span class="a-third-title">iPad &amp; Tablet Accessories</span></a>
                                                                                            </li>
                                                                                                                                                                                    <li class="li-third-items">
                                                                                                <a href="http://pataku.demo.towerthemes.com/index.php?route=product/category&amp;path=60_57_71" class="a-third-link"><span class="a-third-title">Kids Tablets</span></a>
                                                                                            </li>
                                                                                                                                                                            </ul>
                                                                                </div>
                                                                                                                                                    </li>
                                                                                                                                                                                                                                                                                                            </ul>
                                                </div>
                                                                                                                                                                                    </li>
                                                                                                                            <li class="li-top-item left  ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/storage-shelving">
                                                                                                                            <span>Storage &amp; Shelving</span>
                                                                                                                            <i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                                                            </a>
                                                                                                    <!-- Mega Menu -->
                                    
                                    <!-- Flyout Menu -->
                                                                            
                                                                                                                                    <div class="flyout-menu-container sub-menu-container left" style="display: none;">
                                                    <ul class="ul-second-items">
                                                                                                                                                                                                                                                                                                                                <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/storage-shelving/bookshelves" class="a-second-link a-item">
                                                                                <span class="a-second-title">Bookshelves</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/storage-shelving/cabinets" class="a-second-link a-item">
                                                                                <span class="a-second-title">Cabinets</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/storage-shelving/sideboards-storage" class="a-second-link a-item">
                                                                                <span class="a-second-title">Sideboards</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/storage-shelving/tv-cabinets" class="a-second-link a-item">
                                                                                <span class="a-second-title">TV Cabinets</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                                                                                                                                                                                            </ul>
                                                </div>
                                                                                                                                                                                    </li>
                                                                                                                            <li class="li-top-item left  ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/lighting">
                                                                                                                            <span>Lighting</span>
                                                                                                                            <i class="icon-more-right ion-ios-arrow-right" aria-hidden="true"></i>
                                                                            </a>
                                                                                                    <!-- Mega Menu -->
                                    
                                    <!-- Flyout Menu -->
                                                                            
                                                                                                                                    <div class="flyout-menu-container sub-menu-container left" style="display: none;">
                                                    <ul class="ul-second-items">
                                                                                                                                                                                                                                                                                                                                <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/lighting/ceiling-lamps" class="a-second-link a-item">
                                                                                <span class="a-second-title">Ceiling Lamps</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/lighting/floor-lamps" class="a-second-link a-item">
                                                                                <span class="a-second-title">Floor Lamps</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/lighting/table-lamps" class="a-second-link a-item">
                                                                                <span class="a-second-title">Table Lamps</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                            <li class="li-second-items">
                                                                            <a href="http://pataku.demo.towerthemes.com/lighting/wall-lamps" class="a-second-link a-item">
                                                                                <span class="a-second-title">Wall Lamps</span>
                                                                                                                                                            </a>
                                                                                                                                                    </li>
                                                                                                                                                                                                                                                                                                            </ul>
                                                </div>
                                                                                                                                                                                    </li>
                                                                                                                            <li class="li-top-item left  ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/decoration">
                                                                                                                            <span>Decoration</span>
                                                                                                                    </a>
                                                                                            </li>
                                                                                                                            <li class="li-top-item left  ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/laundry-cleaning">
                                                                                                                            <span>Laundry &amp; cleaning</span>
                                                                                                                    </a>
                                                                                            </li>
                                                                                                                            <li class="li-top-item left over ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/office-furniture">
                                                                                                                            <span>Office furniture</span>
                                                                                                                    </a>
                                                                                            </li>
                                                                                                                            <li class="li-top-item left over ">
                                                                    <a class="a-top-link a-item" href="http://pataku.demo.towerthemes.com/hallway">
                                                                                                                            <span>Hallway</span>
                                                                                                                    </a>
                                                                                            </li>
                                                                                        <li class="li-top-item li-over li-plus">
                            <a href="javascript:void(0);" class="a-top-link a-plus a-over"><span>More Items</span></a>
                        </li>
                        <li class="li-top-item li-over li-minus over">
                            <a href="javascript:void(0);" class="a-top-link a-minus a-over"><span>Close Items</span></a>
                        </li>
                                    </ul>
  						</div>
  					</div>
  					<div class="col-hoz">
  						<nav class="navbar navbar-expand-lg ">
						  

						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item">
						        <a class="nav-link" href="#">首页</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">今日限时购</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">每日上新</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">品质奶粉</a>
						      </li>
						      <li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          更多分类
						        </a>
						        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						          <a class="dropdown-item" href="#">电子商品</a>
						          <a class="dropdown-item" href="#">家具装修</a>
						          <div class="dropdown-divider"></div>
						          <a class="dropdown-item" href="#">所有该分类</a>
						        </div>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">人气面膜</a>
						      </li>
						    </ul>
						    
						  </div>
						</nav>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>


  	<div id="slider">
  		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-1.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-2.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-3.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-4.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-5.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-6.jpg"></div>
		        <div class="swiper-slide"><img src="image/catalog/demo/slider/slider-7.jpg"></div>
		    </div>
		    <div class="swiper-pagination"></div>
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>

		</div>
  	</div>

  	
<script>
  var mySwiper = new Swiper ('.swiper-container', {

    direction: 'horizontal',
    loop: true,
	autoplay: {
    	delay: 5000,
    	disableOnInteraction: false,
  	},


    pagination: {
      el: '.swiper-pagination',
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
      hiddenClass: '.swiper-button-hidden',
    },



  })


  </script>

<div class="sell-block">
	<div class="container">
	  	<div class="sellpoint">
	  		<a class="itm" href="#" target="_blank" id="auto-id-1558916975802"><i class="fas fa-rocket"></i><span class="txt">网店自营</span></a>
	  		<a class="itm" href="#" target="_blank"><i class="fas fa-globe"></i><span class="txt">全球直采</span></a>
	  		<a class="itm" href="#" target="_blank"><i class="fab fa-product-hunt"></i><span class="txt">假一赔十</span></a>
	  		<a class="itm" href="#" target="_blank"><i class="fas fa-hands-helping"></i><span class="txt">售后无忧</span></a>
	  	</div>
	  	<div class="download">
	  		
	  		<a class="itm" href="#" target="_blank"><i class="fas fa-mobile-alt"></i>领1000元新人礼，APP下单更享手机价</a>
	  	</div>
  	</div>
</div>


<div class="static-banner">
	<div class="container">
		<div class="row">
			<div class="col-3 static-pic"><img src="image/catalog/demo/banners/banner-1.png"></div>
			<div class="col-3 static-pic"><img src="image/catalog/demo/banners/banner-2.png"></div>
			<div class="col-3 static-pic"><img src="image/catalog/demo/banners/banner-3.png"></div>
			<div class="col-3 static-pic"><img src="image/catalog/demo/banners/banner-4.png"></div>
		</div>
	</div>
</div>

<div class="special-channel">
	<div class="container">
		<div class="row">
		<h2 class="module-title">
			<span class="big">今日限时购</span><span>本场还剩</span><span class="timebox"><span>02</span>:<span>28</span>:<span>35</span></span>
			<a class="more" href="#">进入限时购频道&gt;&gt;</a>
		</h2>
		
		<div class="cnt">
			<ul class="goodslist">
				<li class="goods">
					<a class="pic" href="#"><img src="image/catalog/demo/product/product-1.jpg"></a>
					<div class="detail">
						<h3 class="intro">
							<a href="#" target="_blank" title="头屑克星 头皮不再下雪" >头屑克星 头皮不再下雪</a>
						</h3>
						<h3 class="short-title">
							<a href="#" target="_blank" title="Selsun Blue 去屑止痒洗发水-加强版（黄色）200毫升/瓶 2瓶装" >Selsun Blue 去屑止痒洗发水-加强版（黄色）200毫升/瓶 2瓶装</a>
						</h3>
						<p class="price">
							<b>¥</b>108
							<span>¥</span>
							<del>239</del>
						</p>
						<div class="process">
							<b style="width: 99.5%;"></b>
						</div>
						<p class="process-txt">剩余199件</p>
						<a class="btn f-hover" href="#" target="_blank">立即抢购</a>
					</div>
				</li>
				<li class="goods">
					<a class="pic" href="#"><img src="image/catalog/demo/product/product-2.jpg"></a>
					<div class="detail">
						<h3 class="intro">
							<a href="#" target="_blank" title="源自英国时尚品牌童装">源自英国时尚品牌童装</a>
						</h3>
						<h3 class="short-title">
							<a href="#" target="_blank" title="【六一儿童节礼物】印象童年童装女童连衣裙2019新款夏装洋气女宝宝公主裙小女孩儿童蕾丝裙子" >【六一儿童节礼物】印象童年童装女童连衣裙2019新款夏装洋气女宝宝公主裙小女孩儿童蕾丝裙子</a>
						</h3>
						<p class="price">
							<b>¥</b>107
							<span>¥</span>
							<del>599</del>
						</p> 
						<div class="process">
							<b style="width: 99.5%;"></b>
						</div>
						<p class="process-txt">剩余597件</p>
						<a class="btn f-hover" href="#" target="_blank">立即抢购</a>
					</div>
				</li>
				<li class="goods">
					<a class="pic" href="#"><img src="image/catalog/demo/product/product-3.jpg"></a>
					<div class="detail">
						<h3 class="intro">
							<a href="#" target="_blank" title="水污染严重也能安心喝水">水污染严重也能安心喝水</a>
						</h3>
						<h3 class="short-title">
							<a href="#" target="_blank" title="【品牌直采】BRITA 碧然德 Marella系列滤水壶一壶一芯3.5升 蓝色" >【品牌直采】BRITA 碧然德 Marella系列滤水壶一壶一芯3.5升 蓝色</a>
						</h3>
						<p class="price">
							<b>¥</b>149
							<span>¥</span>
							<del>299</del>
						</p>
						<div class="process">
							<b style="width: 98%;"></b>
						</div>
						<p class="process-txt">剩余98件</p>
						<a class="btn f-hover" href="#">立即抢购</a>
					</div>
				</li>
				<li class="goods">
					<a class="pic" href="#"><img src="image/catalog/demo/product/product-4.jpg"></a>
					<div class="detail" >
						<h3 class="intro" >
							<a href="#" target="_blank" title="功能水滴海绵彩妆美妆蛋" >功能水滴海绵彩妆美妆蛋</a>
						</h3>
						<h3 class="short-title" >
							<a href="#" target="_blank" title="【618同价】【四只装】Real Techniques多功能水滴海绵彩妆美妆蛋 RT两用葫芦粉扑四只装" >【618同价】【四只装】Real Techniques多功能水滴海绵彩妆美妆蛋 RT两用葫芦粉扑四只装</a>
						</h3> 
						<p class="price" >
							<b >¥</b>76
							<span >¥</span>
							<del >159</del>
						</p>
						<div class="process" >
							<b style="width: 99.8%;" ></b>
						</div>
						<p class="process-txt" >剩余1996件</p>
						<a class="btn" href="#" target="_blank" >立即抢购</a>
					</div>
				</li>
			</ul>
			<div class="aside">
				<a href="#" class="pic" target="_blank"><img src="image/catalog/demo/banners/limit-aside.png"></a>
			</div>
		</div>
		</div>
	</div>
</div>

<div id="hot-brand">
	<div class="container">
		<div class="row">
		<article>
			<h2 class="module-title">
				<span class="big">热门品牌</span>全球精选，一网打尽<a class="more" href="#">进入品牌频道&gt;&gt;</a>
			</h2>
			<section class="brandshow">
				
				
					<ul class="recomBrand">
									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-1.jpg" alt="SHISEIDO 资生堂">
												<p class="desc">创造美丽生活的文化</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-2.jpg" alt="Kao 花王">
												<p class="desc">日本高人气日化品牌</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-3.jpg" alt="JMsolution">
												<p class="desc">打造健康肌肤</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-4.jpg" alt="网易严选">
												<p class="desc">网易原创生活类品牌</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-5.jpg" alt="Swisse">
												<p class="desc">科学配方 优质原材料</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-6.jpg" alt="良品铺子">
												<p class="desc">4亿人选择的零食品牌</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-7.jpg" alt="moony 尤妮佳">
												<p class="desc">“妈妈之选”大赏得主</p>
											</a>
										</div>
										
									</li>

									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-8.jpg" alt="A.H.C">
												<p class="desc">SPA体验型护肤品牌</p>
											</a>
										</div>
										
									</li>
									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-9.jpg" alt="threesquirrels 三只松鼠">
												<p class="desc">好吃的都在三只松鼠</p>
											</a>
										</div>
										
									</li>
									<li class="itm">
										<div class="info" style="width: 100%;">
											<a href="#">
												<img class="img" src="image/catalog/demo/banners/brand-10.jpg" alt="pigeon 贝亲">
												<p class="desc">国际知名母婴用品品牌</p>
											</a>

										</div>
										
									</li>

								</ul>
				
			</section>
		</article>
	</div>
	</div>
</div>

<div class="category-module">
	<div class="container">
		<h2 class="module-title">
					<span class="big">面部精华</span><a class="more" href="#">查看该分类所有商品&gt;&gt;</a>
				</h2>
		<div class="row">
			
				
				
					
						<div class="col-3 product-grid">
							<div class="goods-bd">
								<div class="goods-bd-border" style="border: 1px solid;">
									<div class="goods-img">
										<a href="#" target="_blank">
											<img class="img u-loaded" src="image/catalog/demo/product/product-5.jpg" width="244" height="244">
										</a>
										
									</div>
									<h5 class="goods-title">
										<a href="#" target="_blank">LANCÔME 兰蔻 新精华肌底液 7毫升/瓶 3瓶装</a>
									</h5>
									<h6 class="goods-introduce">一折用大牌，便携又实惠</h6>
									<div class="m-priceitem" style="color: rgb(255, 30, 50);">
										<span class="price"><i class="rmb">¥</i>199</span>
										<span class="mktprice"><del>¥390</del></span>
									</div>
									<a href="javascript:;" class="goods-btn">
										<img class="goods-btn-img" src="https://haitao.nos.netease.com/69b9a188-c930-4d98-984b-33d7ef847916_81_81.png" alt="加购物车">
									</a>
								</div>
							</div>
						</div>

						<div class="col-3 product-grid">
							<div class="goods-bd">
								<div class="goods-bd-border" style="border: 1px solid;">
									<div class="goods-img">
										<a href="#" target="_blank">
											<img class="img u-loaded" src="image/catalog/demo/product/product-6.jpg" width="244" height="244">
										</a>
										
									</div>
									<h5 class="goods-title">
										<a href="#" target="_blank">LANCÔME 兰蔻 新精华肌底液 7毫升/瓶 3瓶装</a>
									</h5>
									<h6 class="goods-introduce">一折用大牌，便携又实惠</h6>
									<div class="m-priceitem" style="color: rgb(255, 30, 50);">
										<span class="price"><i class="rmb">¥</i>199</span>
										<span class="mktprice"><del>¥390</del></span>
									</div>
									<a href="javascript:;" class="goods-btn">
										<img class="goods-btn-img" src="https://haitao.nos.netease.com/69b9a188-c930-4d98-984b-33d7ef847916_81_81.png" alt="加购物车">
									</a>
								</div>
							</div>
						</div>

						<div class="col-3 product-grid">
							<div class="goods-bd">
								<div class="goods-bd-border" style="border: 1px solid;">
									<div class="goods-img">
										<a href="#" target="_blank">
											<img class="img u-loaded" src="image/catalog/demo/product/product-7.jpg" width="244" height="244">
										</a>
										
									</div>
									<h5 class="goods-title">
										<a href="#" target="_blank">LANCÔME 兰蔻 新精华肌底液 7毫升/瓶 3瓶装</a>
									</h5>
									<h6 class="goods-introduce">一折用大牌，便携又实惠</h6>
									<div class="m-priceitem" style="color: rgb(255, 30, 50);">
										<span class="price"><i class="rmb">¥</i>199</span>
										<span class="mktprice"><del>¥390</del></span>
									</div>
									<a href="javascript:;" class="goods-btn">
										<img class="goods-btn-img" src="https://haitao.nos.netease.com/69b9a188-c930-4d98-984b-33d7ef847916_81_81.png" alt="加购物车">
									</a>
								</div>
							</div>
						</div>

						<div class="col-3 product-grid">
							<div class="goods-bd">
								<div class="goods-bd-border" style="border: 1px solid;">
									<div class="goods-img">
										<a href="#" target="_blank">
											<img class="img u-loaded" src="image/catalog/demo/product/product-8.jpg" width="244" height="244">
										</a>
										
									</div>
									<h5 class="goods-title">
										<a href="#" target="_blank">LANCÔME 兰蔻 新精华肌底液 7毫升/瓶 3瓶装</a>
									</h5>
									<h6 class="goods-introduce">一折用大牌，便携又实惠</h6>
									<div class="m-priceitem" style="color: rgb(255, 30, 50);">
										<span class="price"><i class="rmb">¥</i>199</span>
										<span class="mktprice"><del>¥390</del></span>
									</div>
									<a href="javascript:;" class="goods-btn">
										<img class="goods-btn-img" src="https://haitao.nos.netease.com/69b9a188-c930-4d98-984b-33d7ef847916_81_81.png" alt="加购物车">
									</a>
								</div>
							</div>
						</div>

						<div class="col-3 product-grid">
							<div class="goods-bd">
								<div class="goods-bd-border" style="border: 1px solid;">
									<div class="goods-img">
										<a href="#" target="_blank">
											<img class="img u-loaded" src="image/catalog/demo/product/product-9.jpg" width="244" height="244">
										</a>
										
									</div>
									<h5 class="goods-title">
										<a href="#" target="_blank">LANCÔME 兰蔻 新精华肌底液 7毫升/瓶 3瓶装</a>
									</h5>
									<h6 class="goods-introduce">一折用大牌，便携又实惠</h6>
									<div class="m-priceitem" style="color: rgb(255, 30, 50);">
										<span class="price"><i class="rmb">¥</i>199</span>
										<span class="mktprice"><del>¥390</del></span>
									</div>
									<a href="javascript:;" class="goods-btn">
										<img class="goods-btn-img" src="https://haitao.nos.netease.com/69b9a188-c930-4d98-984b-33d7ef847916_81_81.png" alt="加购物车">
									</a>
								</div>
							</div>
						</div>
					
				
			
		</div>
	</div>
</div>


<footer id="footer">
	
	<div id="footer-top">
		<div class="container">
			<div id="btmlist">
				<ul class="clearfix">
					<li>
						<div class="btmIcon">正</div>
						<strong class="tit">正品承诺</strong>
						<span class="desc">正品保障 假一赔十</span>
					</li>
					<li>
						<div class="btmIcon">低</div>
						<strong class="tit">低价保障</strong>
						<span class="desc">缩减中间环节 确保低价</span>
					</li>
					<li>
						<div class="btmIcon">退</div>
						<strong class="tit">30天无忧退货</strong>
						<span class="desc">国内退货 售后无忧</span>
					</li>
					<li class="last">
						<div class="btmIcon">邮</div>
						<strong class="tit">满88包邮</strong>
						<span class="desc">部分特殊商品除外</span>
					</li>
				</ul>
			</div>
			<div id="guideList">
				<ul class="clearfix">
					<li class="bd_none first">
						<a href="#" class="logokaola" title=""><img src="image/catalog/logo.png"></a>
						<div class="focuson">
							<span class="label">关注我们</span>
							<a class="itm" href="#" target="_blank" rel="nofollow">
								<em class="w-icon follow-us-icon weibo-icon"></em>
								<span class="m-notice m-notice-1">
									
									<span class="arrow">
										<span class="arr"></span>
										<span class="arr1"></span>
									</span>
								</span>
							</a>
							<a class="itm nolink" href="javascript:void(0);" rel="nofollow">
								<em class="w-icon follow-us-icon weixin-icon"></em>
								<span class="m-notice">
									
									<span class="arrow">
										<span class="arr"></span>
										<span class="arr1"></span>
									</span>
								</span>
							</a>
							<a class="itm nolink" href="javascript:void(0);" rel="nofollow">
								<em class="w-icon follow-us-icon yixin-icon"></em>
								<span class="m-notice m-notice-2">
									
									<span class="arrow">
										<span class="arr"></span>
										<span class="arr1"></span>
									</span>
								</span>
							</a>
						</div>
					</li>

					<li>
						<dl>
							<dt><em>保障</em></dt>
							<dd><a target="_blank" href="#" title="假一赔十" rel="nofollow">假一赔十</a></dd>
							<dd><a target="_blank" href="#" title="廉正监督" rel="nofollow">廉正监督</a></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><em>新手指南</em></dt>
							<dd><a href="#" target="_blank" title="购物流程">购物流程</a></dd>
							<dd><a href="#" target="_blank" title="支付方式">支付方式</a></dd>
							<dd><a href="#" target="_blank" title="通关税费">通关税费</a></dd>
							<dd><a href="#" target="_blank" title="常见问题">常见问题</a></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><em>售后服务</em></dt>
							<dd><a href="#" target="_blank" title="退货政策">退货政策</a></dd>
							<dd><a href="#" target="_blank" title="退货流程">退货流程</a></dd>
							<dd><a href="#" target="_blank" title="退款说明">退款说明</a></dd>
							<dd><a title="联系客服" class="j-openService">联系客服</a></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><em>物流配送</em></dt>
							<dd><a href="#" target="_blank" title="配送方式">配送方式</a></dd>
							<dd><a href="#" target="_blank" title="配送服务">配送服务</a></dd>
							<dd><a href="#" target="_blank" title="运费标准">运费标准</a></dd>
							<dd><a href="#" target="_blank" title="物流跟踪">物流跟踪</a></dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><em>关于我们</em></dt>
							<dd><a href="#" target="_blank" title="联系我们" rel="nofollow">联系我们</a></dd>
							<dd><a target="_blank" href="#" title="招商合作" rel="nofollow">招商合作</a></dd>
							<dd><a target="_blank" href="#" title="销售联盟" rel="nofollow">销售联盟</a></dd>
							<dd><a href="#" target="_blank" title="CEO邮箱" rel="nofollow">CEO邮箱</a></dd>
						</dl>
					</li>

					<li class="bd_none item last">
						<img src="image/catalog/qrcode_mycncart.jpg" width="108px" height="108px">
						<span>扫描下载微信小程序</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer-bottom">
			
			<a href="#" rel="nofollow" target="_blank" title="" >About NetEase</a> - 
			<a href="#" rel="nofollow" target="_blank" title="公司简介" >公司简介</a> - 
			<a href="#" rel="nofollow" target="_blank" title="联系方法" >联系方法</a> - 
			<a href="#" target="_blank" title="友情链接" data-param="zn=footer" >友情链接</a> - 
			<a href="#" rel="nofollow" target="_blank" title="招聘信息" >招聘信息</a> - 
			<a href="#" rel="nofollow" target="_blank" title="客户服务" >客户服务</a> - 
			<a href="#" rel="nofollow" target="_blank" title="隐私政策" >隐私政策</a> - 
			<a href="#" rel="nofollow" target="_blank" title="网络营销" >网络营销</a> - 
			<a href="#" target="_blank" title="万物一体" data-param="zn=footer" >万物一体</a>

			<br>

			<span class="m-license">网络文化经营许可证：鲁网文[2019]1372-138号</span>
			<span class="m-license">增值电信业务经营许可证：鲁B2-20160288</span>

			<span class="m-license">
				<a href="#" rel="nofollow" target="_blank" title="自营经营者信息" >自营经营者信息</a>
			</span>

			<span class="m-license" >（鲁）网械平台备字[2018]第00007号</span>

			<br>

			<a target="_blank" href="#" class="m-license m-license-1" >
				<img src="image/catalog/gongan.png" >
			</a>

			<a target="_blank" href="#" >
				<span style="margin: 0px 0px 0px 5px;" >鲁公网安备 33010802002216号</span>
			</a>

			<span class="m-license" >万物一体公司版权所有©1997-2019</span>

			<a target="_blank" href="#" >
				<span style="margin: 0px 0px 0px 20px;" >互联网药品信息服务资格证书编号（鲁）-2017-0027</span>
			</a>

			<span class="m-license" >鲁ICP备16011229号-6</span>

			<div class="f-tac" >
				<a id="___szfw_logo___" href="#" target="_blank" >
					<img style="height:30px; margin:5px 15px 0 0;" src="image/catalog/shifan.png"  border="0">
				</a>
				<span id="KXYZ" >
					<a href="#" id="kx_verify" tabindex="-1" target="_blank" kx_type="图标式" style="display:inline-block;" >
						<img src="image/catalog/trust.png" alt="可信网站" width="80" height="30" >
					</a>
				</span>
				<a class="u-shield" href="#" target="_blank" >
					<img src="image/catalog/gongshang.gif" alt="工商营业执照网上标识" height="30" >
				</a>
			</div>

			<span class="u-envname" ></span>


		</div>
	</div>
</footer>