{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-permission" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-permission">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-permission-group">{{ entry_permission_group }}</label>
            <div class="col-sm-10">
              <select name="permission_group_id" id="input-permission-group" class="form-control">
                <option value="0">{{ text_select }}</option>
                {% for permission_group in permission_groups %}
                  {% if permission_group.permission_group_id == permission_group_id %}
                    <option value="{{ permission_group.permission_group_id }}" selected="selected">{{ permission_group.name }}</option>
                  {% else %}
                    <option value="{{ permission_group.permission_group_id }}">{{ permission_group.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              {% if error_permission_group %}
                <div class="invalid-tooltip">{{ error_permission_group }}</div>
              {% endif %}
            </div>
          </div>
		  <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-controller">{{ entry_controller }}</label>
            <div class="col-sm-10">
              <select name="controller" id="input-controller" class="form-control">
                <option value="0">{{ text_select }}</option>
                {% for permission_controller in permission_controllers %}
                  {% if permission_controller == controller %}
                    <option value="{{ permission_controller }}" selected="selected">{{ permission_controller }}</option>
                  {% else %}
                    <option value="{{ permission_controller }}">{{ permission_controller }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              {% if error_controller %}
                <div class="invalid-tooltip">{{ error_controller }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
