<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-left" colspan="2"><h5>商品规格</h5></td>
      </tr>
    </thead>
    <tbody>
      {% if options %}
        {% for option in options %}
          <tr>
            <td class="text-left">{{ option.name }}</td>
            <td class="text-left">
				{% for option_value in option.option_values %}
				
				<button type="button" id="button_option_value_id_{{ option_value.option_value_id }}" data-option_id="{{ option.option_id }}" data-option_value_id="{{ option_value.option_value_id }}" class="btn {% if option_value.choosen %} btn-success {% else %}btn-default{% endif %}" onclick="change_value({{ option_value.option_value_id }})">{{ option_value.name }}</button>
				
				{% endfor %}
			</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>


