<div class="site-sidebar">
	<div class="custom-scroll custom-scroll-dark">
		<ul class="sidebar-menu">
			<li class="user-profile treeview">
			  <a href="#">
				<img src="http://localhost/mycncart_master/3000alpha/admin/view/image/user/user5-128x128.jpg" alt="user">
				<span>Juliya Brus</span>
			  </a>
			</li>
			
			{% for menu in menus %}
			
				{% if menu.children %}
				
				<li class="with-sub compact-hide">
					<a href="javascript: void(0);" class="waves-effect  waves-light">
						<span class="s-caret"><i class="fa fa-angle-down"></i></span>
						<span class="s-icon"><i class="fa {{ menu.icon }}"></i></span>
						<span class="s-text">{{ menu.name }}</span>
					</a>
					<ul>
					
						{% for children_1 in menu.children %}
						
							{% if children_1.children %}
								<li class="with-sub">
									<a href="javascript: void(0);">
										<span class="s-caret"><i class="fa fa-angle-down"></i></span>
										<span class="s-text">{{ children_1.name }}</span>
									</a>
									<ul>
									
										{% for children_2 in children_1.children %}
										
											{% if children_2.children %}
											
											<li class="with-sub">
												<a href="javascript: void(0);">
													<span class="s-caret"><i class="fa fa-angle-down"></i></span>
													<span class="s-text">{{ children_2.name }}</span>
												</a>
												<ul>
													{% for children_3 in children_2.children %}
													  <li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
													{% endfor %}
												
												</ul>
											</li>
											
											{% else %}
												<li><a href="{{ children_2.href }}">{{ children_2.name }}</a></li>
											{% endif %}
										
										{% endfor %}
										
										
									</ul>
								</li>
							
							{% else %}
							
								<li><a href="{{ children_1.href }}">{{ children_1.name }}</a></li>
							{% endif %}
						
						
						{% endfor %}
					
					</ul>
				</li>
					
				
				{% else %}
				
				<li>
					<a href="{{ menu.href }}" class="waves-effect  waves-light">
						<span class="s-icon"><i class="ti-layout-tab"></i></span>
						<span class="s-text">{{ menu.name }}</span>
					</a>
				</li>
				
				
				{% endif %}
				
			
			{% endfor %}
			
			
			
			
			
			
			
			
		</ul>
	</div>
</div>


