<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
      
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="user-profile treeview">
          <a href="index.html">
			<img src="view/image/user5-128x128.jpg" alt="user">
            <span>Juliya Brus</span>
          </a>
        </li>
		
		{% for menu in menus %}
		
		{% if menu.href %}
			<li>
				<a href="{{ menu.href }}">
				  <i class="fa fa-dashboard"></i> <span>{{ menu.name }}</span>
				  <span class="pull-right-container">
					<i class="fa fa-angle-right pull-right"></i>
				  </span>
				</a>
			</li>
		{% else %}
			<li class="treeview">
			  <a href="#">
				<i class="fa {{ menu.icon }}"></i> <span>{{ menu.name }}</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-right pull-right"></i>
				</span>
			  </a>
			  <ul class="treeview-menu">
			  	
				{% for children_1 in menu.children %}
				
				{% if children_1.href %}
				
					<li><a href="{{ children_1.href }}"><i class="fa fa-circle-thin"></i>{{ children_1.name }}</a></li>
				
				{% else %}
					<li class="treeview">
					  <a href="#"><i class="fa fa-circle-thin"></i>{{ children_1.name }}
						<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
					  </a>
					  <ul class="treeview-menu">
					  
					  	{% for children_2 in children_1.children %}
						
							{% if children_2.href %}
							 	<li><a href="{{ children_2.href }}"><i class="fa fa-circle-thin"></i>{{ children_2.name }}</a></li>
							 {% else %}
							 
							 	<li class="treeview">
								  <a href="#"><i class="fa fa-circle-thin"></i>{{ children_2.name }}
									<span class="pull-right-container">
									<i class="fa fa-angle-right pull-right"></i>
									</span>
								  </a>
								  <ul class="treeview-menu">
								 	{% for children_3 in children_2.children %}
								 		<li><a href="{{ children_3.href }}"><i class="fa fa-circle-thin"></i>{{ children_3.name }}</a></li>
								 	{% endfor %}
									
								  </ul>
								</li>
							 
							 {% endif %}
						
						{% endfor %}
						
						
						
					  </ul>
					</li>
				
				
				{% endif %}
				
				{% endfor %}
			  
			  </ul>
			</li> 
		
		{% endif %}
		
		{% endfor %}
		
		
		
		
              
        
      </ul>
    </section>
  </aside>