{% if languages|length > 1 %}
<li class="nav-item dropdown border-left">

	{% for language in languages %}
			{% if language.code == code %} 
			<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle"><img src="language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">&nbsp; {{ language.name }} <i class="fas fa-caret-down fa-fw"></i></a>
			{% endif %}
			{% endfor %}

		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
			
			
			
            <div class="dropdown-menu dropdown-menu-right">
			    {% for language in languages %}
				<button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
				
				{% endfor %}
				
            </div>
			
		<input type="hidden" name="code" value="" />
    	<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>

</li>
{% endif %}