{% if languages|length > 1 %}
<li>
	<div class="change-language">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
		<div class="btn-group">
			{% for language in languages %}
			{% if language.code == code %} 
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><img src="admin/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"></button>
			{% endif %}
			{% endfor %}
			
			<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
				{% for language in languages %}
				<button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
				{% endfor %}
			</div>
		</div>
		<input type="hidden" name="code" value="" />
    	<input type="hidden" name="redirect" value="{{ redirect }}" />
		</form>
	</div>
</li>
{% endif %}